.dunkel header {
  background-color: #333;
}

.dunkel footer {
    border-top-color: #ccc;
    color: #ccc;
}

.dunkel main {
  background-color: #000;
  color: snow;
}

.dunkel article.note {
  border-color: transparent;
}

.dunkel article.note:nth-of-type(2n) {
  background-color: #333;
}

.dunkel article.note:nth-of-type(2n+1) {
  background-color: #000;
}

.dunkel article.note:hover {
  border-color: #aaa;
  background-color: #777;
}