.dunkel header {
  background-color: #333;
}

.dunkel footer {
    border-top-color: #ccc;
    color: #ccc;
}

.dunkel main {
  background-color: #000;
  color: snow;
}

.dunkel section.notelist article {
  border-color: transparent;
  color: #000;
  background: #aaa;
}

.dunkel #sortButtons li.active:hover,
.dunkel #viewOptions li.active {
  background-color: lightgoldenrodyellow;
  border-color: yellow;
}

.dunkel #sortButtons li:hover {
  background-color: #777;
  border-color: #777;
}

.hell #actions li:hover {
  background-color: #777;
  border-color: #ccc;
}