body.hell {
  background-color: #333;
  color: whitesmoke;
}

body.hell > div {
  background-color: white;
  color: black;
}

.hell header > div {
  background-color: #d7e;
}

.hell footer {
    border-top-color: #ccc;
    color: #ccc;
}

.hell main {
  background-color: snow;
  color: black;
}

.hell section.notelist article {
  border-color: transparent;
  color: #000;
  background: #ffc;
}

.hell #actions li.active,
.hell #sortButtons li.active:hover,
.hell #viewOptions li.active {
  background-color: blue;
  border-color: royalblue;
}

.hell #sortButtons li:hover {
  background-color: #777;
  border-color: #777;
}

.hell #actions li:hover {
  background-color: #777;
  border-color: #333;
}