body.hell {
  background-color: snow;
  color: black;
}

.hell header {
  background-color: royalblue;
  color: snow;
}

.hell footer {
    border-top-color: #ccc;
    color: #ccc;
}

.hell #actions li.active,
.hell #sortButtons li.active:hover,
.hell #viewOptions li.active {
  background-color: royalblue;
  border-color: darkblue;
  color: snow;
}

.hell #sortButtons li:hover {
  background-color: #777;
  border-color: #333;
}

.hell #actions li:hover {
  background-color: #777;
  border-color: #333;
}

.hell section.notelist article {
  border-color: transparent;
  color: #000;
  background-color: #ffc;
}

.hell section.notelist article.completed {
  background-color: lightgray;
}

.hell section.notelist article.overdue {
  background-color: red;
}

.hell section.notelist article.today {
  background-color: orange;
}

.hell section.notelist article.soon {
  background-color: lightgreen;
}

/* create date */
.hell section.notelist article.overdue > div:first-of-type > div:nth-of-type(5) {
  color: wheat;
}

.hell .noteEditor {
  background-color: #ffc;
}
