.hell header {
  background-color: #d7e;
}

.hell footer {
    border-top-color: #ccc;
    color: #ccc;
}

.hell main {
  background-color: snow;
  color: black;
}

.hell article.note {
  border-color: transparent;
}

.hell article.note:nth-of-type(2n) {
  background-color: #eee;
}

.hell article.note:nth-of-type(2n+1) {
  background-color: #fff;
}

.hell article.note:hover {
  border-color: red;
  background-color: aliceblue;
}

.hell #sortButtons li.active:hover,
.hell #viewOptions li.active {
  background-color: blue;
  border-color: royalblue;
}

.hell #sortButtons li:hover {
  background-color: #777;
  border-color: #777;
}

.hell #actions li:hover {
  background-color: #777;
  border-color: #333;
}