body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}

ul {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  margin: 0;
  box-sizing: border-box;
}

header > div:first-child {

}

header > div:last-child {
  width: 10rem;
}

header > div:last-child > select {
  width: 100%;
}

footer {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    font-style: italic;
}

main {
  display: block;
  padding: 0.5rem;
  margin: 4rem auto 0 auto;
  max-width: 1200px;
}

section > div + div {
  margin-top: 1rem;
}

#viewOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
  margin-bottom: 2rem;
}

#mainControls ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#mainControls li {
  list-style: none;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

#mainControls li + li {
  margin-left: 0.5rem;
}

article.note {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
}

article.note + article.note {
  margin-top: 2rem;
}

article.note > div:first-child {
  flex: 0 0 auto;
}

article.note > div:nth-of-type(2) {
  flex: 0 0 80%;
}

article.note > div:last-child {
  flex: 0 0 auto;
}

.formControl {
  display: block;
}

.formControl label {
  display: block;
}

#formButtons,
.formControl + .formControl {
  margin-top: 1rem;
}

#importance {
  font-family: 'FontAwesome', 'Helvetica';
}