* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 100%;
  margin: 3em;
  background: #666;
  color: #fff;
}

h2, p {
  font-size: 100%;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 0.5rem;
  margin: 0;
  box-sizing: border-box;
}

header > div:last-child {
  width: 10rem;
}

header > div:last-child > select {
  width: 100%;
}

footer {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    font-style: italic;
}

main {
  display: block;
  padding: 0.5rem;
  margin: 4rem auto 0 auto;
  max-width: 1200px;
}

section > div + div {
  margin-top: 1rem;
}

#actions, 
#viewOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
  margin-bottom: 2rem;
}

#mainControls ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#mainControls li {
  list-style: none;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

#mainControls li + li {
  margin-left: 0.5rem;
}

section.notelist {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

section.notelist article {
  height: 15em;
  width: 15em;
  padding: 1em;
  margin: 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
}

section.notelist article + article {
  margin-top: 2rem;
}

section.notelist article > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
}

/* title */
section.notelist article > div > div:first-child {
}

/* importance */
section.notelist article > div > div:last-child {
}

section.notelist article > div > div:nth-of-type(2) {

}

section.notelist article > div:first-child {
  flex: 0 0 auto;
}

section.notelist article > div:nth-of-type(2) {
  flex: 0 0 80%;
}

section.notelist article > div:last-child {
  flex: 0 0 auto;
}

.formControl {
  display: block;
}

.formControl label {
  display: block;
}

#formButtons,
.formControl + .formControl {
  margin-top: 1rem;
}

#importance {
  font-family: 'FontAwesome', 'Helvetica';
}