* {
  margin: 0;
  padding: 0;
}

body {
  font-family: arial, sans-serif;
  font-size: 100%;
  margin: 3em;
}
/*
body > div {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
}
*/
h2, p {
  font-size: 100%;
  font-weight: normal;
}

ul {
  padding: 0;
  margin: 0;
}

header > div,
main {
  padding: 0.5rem;
/*
  margin: 0 auto;
  max-width: 1200px;
*/
}

main {
  display: block;
  margin-top: 4rem;
}

header {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
}

header > div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
}

header > div > div:last-child {
  width: 10rem;
}

header > div > div:last-child > select {
  width: 100%;
}

footer {
    border-top-width: 1px;
    border-top-style: solid;
    margin-top: 0.5rem;
    padding-top: 0.5rem;
    font-style: italic;
}

section > div + div {
  margin-top: 1rem;
}

#actions, 
#viewOptions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: flex-start;
  margin-bottom: 2rem;
}

#mainControls ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#mainControls li {
  list-style: none;
  display: inline-block;
  border-width: 1px;
  border-style: solid;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

#mainControls li + li {
  margin-left: 0.5rem;
}

section.notelist {
  font-family: Caveat, arial, sans-serif;
  font-size: 28px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

section.notelist > div:first-of-type {
  margin: 2rem;
  font-size: 200%;
}

section.notelist article {
  height: 25rem;
  width: 25rem;
  padding: 1rem;
  margin: 2rem;
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  transition: transform .15s linear;
  transform: rotate(0deg);
}

section.notelist article button {
  padding: 0.25rem;
}

section.notelist article:nth-of-type(even) {
  transform: rotate(4deg);
  position: relative;
  top: 0.25rem;
}

section.notelist article:nth-of-type(3n) {
  transform: rotate(-3deg);
  position: relative;
  top: -0.25rem;
}

section.notelist article:nth-of-type(5n) {
  transform: rotate(5deg);
  position: relative;
  top: -0.6rem;
}

section.notelist article:hover,
section.notelist article:focus{
  box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  transform: scale(1.25);
  position:relative;
  z-index:5;
}

section.notelist article > div:nth-of-type(2) {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;
  font-size: 200%;
  color: #999;
  padding: 0 0.6rem 0.6rem 0;
  background-color: transparent;
}

/* buttons and checkbox line */
section.notelist article > div:first-of-type > div:nth-of-type(1) {
  display: none;
}

section.notelist article:hover > div:first-of-type > div:nth-of-type(1),
section.notelist article:focus > div:first-of-type > div:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-bottom: 1rem;
}

/* completed */
section.notelist article > div:first-of-type > div:nth-of-type(1) > div:nth-of-type(1) {
}

/* buttons */
section.notelist article > div:first-of-type > div:nth-of-type(1) > div:nth-of-type(2) {
}

/* title/importance line */
section.notelist article > div:first-of-type > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  padding: 0;
  border-bottom: 1px solid black;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

/* title */
section.notelist article > div:first-of-type > div:nth-of-type(2) > div:nth-of-type(1) {
  font-weight: bold;
  font-size: 140%;
  flex: 1 1 100%;
}

/* importance */
section.notelist article > div:first-of-type > div:nth-of-type(2) > div:nth-of-type(2) {
  flex: 0 0 auto;
}

/* description */
section.notelist article > div:first-of-type > div:nth-of-type(3) {
  max-height: 15rem;
  margin-bottom: 1rem;
  white-space: pre-wrap;
  overflow-y: auto;
}

section.notelist article:hover > div:first-of-type > div:nth-of-type(3),
section.notelist article:focus > div:first-of-type > div:nth-of-type(3) {
  max-height: 12rem;
}

/* due date */
section.notelist article > div:first-of-type > div:nth-of-type(4) {
  font-weight: bold;
}

/* create date */
section.notelist article > div:first-of-type > div:nth-of-type(5) {
  font-size: 20px;
  color: #999;
}

.formControl {
  display: block;
}

.formControl label {
  display: block;
}

#formButtons,
.formControl + .formControl {
  margin-top: 1rem;
}

#importance {
  font-family: 'FontAwesome', 'Helvetica';
}